.pagination-wrapper {
    margin-bottom: 55px;
    justify-content: center;
    display: flex;

    .iconfont {
    cursor: pointer;
    
    }
    .pagination {
        padding: 0 30px;
        .pageNum.active {
            color: #f25d8e;
            position: relative;
        }
        .pageNum {
            cursor: pointer;
            z-index: 2;
            display: inline-block;
            font-size: 12px;
            color: #222;
            letter-spacing: 0;
            font-family: Arial-Black;
            padding: 0 13px;
        }
    }
  
}