@charset "UTF-8";
a, article, body, div, footer, form, h1, h2, h3, h4, h5, h6, header, html, iframe, img, input, li, p, section, span, textarea, ul, video {
  margin: 0;
  padding: 0;
}

a {
  color: #222;
  text-decoration: none;
}

a, input {
  cursor: pointer;
  outline: none;
}

/* 清除浮动 */
.clearfix::after {
  visibility: hidden;
  clear: both;
  display: block;
  content: "";
  height: 0;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}

.footer {
  width: 100%;
  color: #99a22a;
  text-align: center;
}
.footer .footer-wrap {
  width: 1160px;
  margin: 0 auto;
  height: 222px;
  background-color: #f4f5f7;
  padding-bottom: 40px;
}
.footer .footer-wrap .border, .footer .footer-wrap .footer-cnt .border {
  width: 980px;
  height: 1px;
  margin: 0 auto 30px;
  border-top: 1px solid #e5e9ef;
}
.footer .footer-wrap .footer-cnt {
  width: 1160px;
}
.footer .footer-wrap .footer-cnt ul {
  list-style: none;
  margin: 0 auto;
  float: left;
  margin-bottom: 30px;
}
.footer .footer-wrap .footer-cnt ul li {
  list-style: none;
  float: left;
  text-align: left;
  list-style: none;
  width: 360px;
  height: 124px;
  font-size: 14px;
  padding-right: 20px;
}
.footer .footer-wrap .footer-cnt ul li:first-child {
  border-left: 0;
  padding-left: 0 !important;
}
.footer .footer-wrap .footer-cnt ul li .tips {
  margin-bottom: 22px;
}
.footer .footer-wrap .footer-cnt ul li .cards {
  width: 120px;
  float: left;
  margin-bottom: 16px;
}
.footer .footer-wrap .footer-cnt ul li .cards a:hover {
  color: #00A1D6;
}
.footer .footer-wrap .footer-cnt ul li .right {
  float: right;
}
.footer .footer-wrap .footer-cnt ul li .block {
  position: relative;
  width: 100%;
}
.footer .footer-wrap .footer-cnt ul li .block .icon {
  position: relative;
  float: left;
  width: 82px;
  height: 80px;
}
.footer .footer-wrap .footer-cnt ul li .block .icon .pic, .footer .footer-wrap .footer-cnt ul li .block .icon .weixin, .footer .footer-wrap .footer-cnt ul li .block .icon .weibo {
  position: relative;
  float: left;
  margin-left: 11px;
  width: 60px;
  height: 60px;
  background: url("../images/icons.png") no-repeat -1024px -194px;
}
.footer .footer-wrap .footer-cnt ul li .block .icon em {
  float: left;
  position: absolute;
  width: 82px;
  font-style: normal;
  line-height: 14px;
  bottom: 0;
  left: 0;
  text-align: center;
}
.footer .footer-wrap .footer-cnt ul li .block .icon .weibo {
  background: url("../images/icons.png") no-repeat -1024px -322px;
}
.footer .footer-wrap .footer-cnt ul li .block .icon .weixin {
  background: url("../images/icons.png") no-repeat -1024px -66px;
}
.footer .footer-wrap .footer-cnt .partner {
  height: 88px;
  padding: 0;
  margin: 0 auto;
  text-align: left;
}
.footer .footer-wrap .footer-cnt .partner .block {
  float: left;
  height: 50px;
  width: 100px;
}
.footer .footer-wrap .footer-cnt .partner .partner-banner {
  background: url("../images/footpic.png") no-repeat;
  width: 100px;
  height: 80px;
}
.footer .footer-wrap .footer-cnt .isShowDomain {
  float: left;
  width: 1060px;
  font-size: 12px;
  line-height: 28px;
}

/*# sourceMappingURL=footer.css.map */
